<!DOCTYPE html>
<html>
<head>
<title>Task 2 Activity</title>
</head>
<body>

<h1>Which metric/s has a bad performance on this page?</h1>
<p>Hint: click the button while Lighthouse is running.</p>
<button onclick="slowFunction()">Click Me</button>

<p id="output"></p>

<p>After you identify the metric, please fix it and run Lighthouse again (take screenshots of the report before and after the fix).</p>


<script>

function slowFunction(){

    let start = Date.now();

    while(Date.now() - start < 1){
    }

    document.getElementById("output").innerText =
        "Button finished processing";

}

</script>

</body>
</html>